@import 'src/theme';

:host {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.confirm-button{
  background-color: $primary-color !important;
  color: white !important;
}

.confirm-dialog-titlebar {
  height: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  padding: 4px 4px;
}

.confirm-dialog-title {
  font-size: 18px;
  padding-left: 12px;
  font-weight: 500;
}

.confirm-dialog-body-container {
  padding: $margin-small;
  margin: $margin-small;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.confirm-dialog-content{
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
